.modal-overlay{
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
    transition: .3s;
    opacity:0;
 }
 .modal-overlay.active{
    visibility: visible;
    transition: .3s;
    opacity: 1;
 }
 .modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 80%;
    max-width: 900px;
    height: 500px;
    margin: 0;
    padding: 30px;
    overflow-y: auto;
 }
 .modal-opened {
    overflow-y: hidden; /*背景を固定*/
}
.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}
.close::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 25px;
   height: 1px;
   background-color: #000;
   transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 25px;
   height: 1px;
   background-color: #000;
   transform: translate(-50%, -50%) rotate(-45deg);
}
